*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color:white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    height: 30px;
    padding:10;
}
.searchbar{
    padding: 25px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 241px;
}
.box:hover{
    background-color: black;
    color: white;
}
.products{
    text-align: center;
}
.about{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}