
*{
    margin: 0px;
    padding: 0px;
}
body {
  font-family: "Roboto Slab", serif;
}
.navbar{
    padding: 10px;
    font-size: 20px;
    background-color: coral;
}
.container{
    padding:10px;
}
.bookcontainer{
    padding:15px;
    width: 25%;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin:30px;
    display: inline-block;
    vertical-align: top;
}
.bookcontainer h2{
    color: coral;
}
.bookcontainer h3{
    color: coral;
    opacity: 0.8;
}
.bookcontainer button{
    background-color: coral;
    color: black;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border:none;
    margin-top: 10px;
}
.add-button{
    background-color: coral;
    color:black;
    border-radius: 100%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border:none;
    position: fixed ;
    bottom:30px;
    right:30px;
}
.overlay{
    background-color: black;
    opacity:0.8;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    display: none;
}
.popup-input{
    background-color: coral;
    width:40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left:30%;
    z-index: 2;
    display:none;
}
.popup-input input{
    background-color: transparent;
    border:none;
    width:100%;
    margin:5px;
    padding:5px;
    font-size: 20px;
    border-bottom: solid black;
}
.popup-input textarea{
    background-color: transparent;
    width:100%;
    margin:5px;
    padding:5px;
    font-size: 20px;
    border: solid black;
}
.popup-input input::placeholder{
    color: black;
}
.popup-input textarea::placeholder{
    color: black;
}
.popup-input button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
    color: white;
    margin: 10px;
    border-radius: 10px;
}
.popup-input input:focus{
    outline: none;
}
.popup-input textarea:focus{
    outline: none;
}